* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.links a {
    padding: 0px 35px;
    text-decoration: none;
    color: black;
    font-family: serif;
    font-weight: 300;
}

.links {
    margin-top: 10px;
}

.btn {
    margin: 8px 10px 8px 20px;
}

.btn a {
    text-decoration: none;
}